<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Edit | Funkoshop</title>
        <link href="/assets/css/style.css" rel="stylesheet" />
        <link href="/assets/css/style-edit.css" rel="stylesheet" />
        <link rel="shorcut icon" href="/assets/img/branding/isotype.svg" type="image/x-icon" />
    </head>
    <body>
        <%- include('../partials/hAdm') %>
        <!-- Inicio Main -->
        <main>
            <div class="title-edit">EDITAR ITEM</div>
            <form class="form-container" action="">
                <fieldset>
                    <div class="form-sub-container">
                        <label class="label-select" for="category">Categoría</label>
                            <select class="category_name" name="category" id="category">
                                <option value="<%= category %>" hidden><%= category %></option>
                                <option value="Figuras" <% if (category === 'Figuras') { %>selected<% } %>>Figuras</option>
                                <option value="Llaveros" <% if (category === 'Llaveros') { %>selected<% } %>>Llaveros</option>
                                <option value="Remeras" <% if (category === 'Remeras') { %>selected<% } %>>Remeras</option>
                        </select>
                        <label for="licence">Collection</label>
                        <select class="licence_name" name="licence" id="licence">
                            <option value="<%= licence %>" hidden><%= licence %></option>
                            <option value="STAR WARS & THE MANDALORIAN" <% if (licence === 'STAR WARS & THE MANDALORIAN') { %>selected<% } %>>STAR WARS & THE MANDALORIAN</option>
                            <option value="POKEMON INDIGO" <% if (licence === 'POKEMON INDIGO') { %>selected<% } %>>POKEMON INDIGO</option>
                            <option value="HARRY POTTER" <% if (licence === 'HARRY POTTER') { %>selected<% } %>>HARRY POTTER</option>
                        </select>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-sub-container input-wrapper">
                        <label for="name">Nombre del producto:</label>
                        <input
                            class="product_name"
                            type="text"
                            id="name"
                            name="name"
                            value="<%= product && product.product_name %>"
                        />
                    </div>
                    <div class="form-sub-container">
                        <textarea
                            class="product_description"
                            name="description"
                            id="description"
                            cols="30"
                            rows="10"
                        ><%= product && product.product_description %></textarea>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-container-selects">
                        <div class="form-sub-container input-wrapper">
                            <label for="sku">SKU:</label>
                            <input
                                class="sku"
                                id="sku"
                                name="sku"
                                type="text"
                                value="<%= product && product.sku %>"
                            />
                        </div>
                        <div class="form-sub-container input-wrapper">
                            <label for="price">Precio: </label>
                            <input
                                class="price"
                                id="price"
                                name="price"
                                type="text"
                                value="$ <%= product && product.price %>"
                            />
                        </div>
                        <div class="form-sub-container input-wrapper">
                            <label for="stock">Stock: </label>
                            <input
                                class="stock"
                                id="stock"
                                name="stock"
                                type="text"
                                value="<%= product && product.stock %>"
                            />
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-container-selects">
                        <div class="form-sub-container input-wrapper">
                            <label for="discount">Descuento: </label>
                            <input
                                class="discount"
                                id="discount"
                                name="discount"
                                type="text"
                                value="<%= product && product.discount %>"
                            />
                        </div>
                        <div class="form-sub-container">
                            <label for="dues"
                                >Cuotas:</label>
                                <select
                                    class="dues"
                                    name="dues"
                                    id="dues"
                                >
                                <option value="<%= product && product.dues === 1 ? 'cuota sin interés' : product.dues + ' cuotas sin interés' %>" hidden><%= product && product.dues === 1 ? 'cuota sin interés' : product.dues + ' cuotas sin interés' %></option>
                                <option value="1" <% if (dues === '1') { %>selected<% } %>>1 Cuota sin interés</option>
                                <option value="2" <% if (dues === '2') { %>selected<% } %>>2 Cuotas sin interés</option>
                                <option value="3" <% if (dues === '3') { %>selected<% } %>>3 Cuotas sin interés</option>
                                <option value="6" <% if (dues === '6') { %>selected<% } %>>6 Cuotas sin interés</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-sub-container">
                        <label for="imgFront">Imágenes:</label>
                        <input
                            class="image_Front"
                            id="imgFront"
                            name="imgFront"
                            type="file"
                            value=""
                        />
                    </div>
                    <div class="form-sub-container">
                        <label for="imgBack">Imágenes:</label>
                        <input
                            class="image_Back"
                            id="imgBack"
                            name="imgBack"
                            type="file"
                            value=""
                        />
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-sub-container gallery" id="gallery-container">
                        <div class="card-gallery-wrapper">
                            <div class="card-gallery">
                                <img id="imgFront" src="<%= product && product.image_Front %>" alt="<%= product && product.product_description %>">
                            </div>
                            <p>Frente</p>
                        </div>
                        <div class="card-gallery-wrapper">
                            <div class="card-gallery">
                                <img id="imgFront" src="<%= product && product.image_Back %>" alt="<%= product && product.product_description %>">
                            </div>
                            <p>Dorso</p>
                        </div>
                    </div>
                </fieldset> 
                <div class="form-sub-container">
                    <button
                        class="btn-primary"
                        id="modificar"
                        name="modificar"
                        type="button"
                    >
                        Modificar Producto
                    </button>
                </div>
            </form>
        </main>
        <!-- Fin Main -->
        <%- include('../partials/fAdm') %>
        <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
        <script src="/assets/js/adminToEdit.js"></script>
        <script src="/assets/js/editButton.js"></script>
    </body>
</html>
