<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Edit | Funkoshop</title>
        <link href="/assets/css/style.css" rel="stylesheet" />
        <link href="/assets/css/style-edit.css" rel="stylesheet" />
        <link rel="shorcut icon" href="/assets/img/branding/isotype.svg" type="image/x-icon" />
    </head>
    <body>
        <%- include('../partials/hAdm') %>
        <!-- Inicio Main -->
        <main>
            <div class="title-edit">EDITAR ITEM</div>
            <form class="form-container" action="">
                <fieldset>
                    <div class="form-sub-container">
                        <label class="label-select" for="categoria"
                            >Categoría
                        </label>
                        <select
                            class="categoria-select"
                            name="categoria"
                            id="categoria"
                        >
                            <option>Seleccionar</option>
                            <option value="figuras" <%= productData?.categoria === 'figuras' ? 'selected' : '' %>>Figuras</option>
                            <option value="llaveros" <%= productData?.categoria === 'llaveros' ? 'selected' : '' %>>Llaveros</option>
                            <option value="remeras" <%= productData?.categoria === 'remeras' ? 'selected' : '' %>>Remeras</option>
                        </select>

                        <label for="licencia"
                            >Licencia
                            <select
                                class="licencia-select"
                                name="licencia"
                                id="licencia"
                            >
                                <option>Seleccionar</option>
                                <option value="star-wars" <%= productData?.licencia === 'star-wars' ? 'selected' : '' %>>STAR WARS</option>
                                <option value="pokemon" <%= productData?.licencia === 'pokemon' ? 'selected' : '' %>>POKEMON</option>
                                <option value="harry-potter" <%= productData?.licencia === 'harry-potter' ? 'selected' : '' %>>HARRY POTTER</option>
                            </select>
                        </label>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-sub-container input-wrapper">
                        <label for="product_name">Nombre del producto:</label>
                        <input
                            type="text"
                            id="product_name"
                            name="product_name"
                            value="<%= productData?.name %>"
                        />
                    </div>

                    <div class="form-sub-container">
                        <textarea
                            class="product_description"
                            name=""
                            id=""
                            cols="30"
                            rows="10"
                        ><%= productData?.description %></textarea>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-container-selects">
                        <div class="form-sub-container input-wrapper">
                            <label for="sku">SKU:</label>
                            <input
                                class=""
                                id="sku"
                                name="sku"
                                type="text"
                                value="<%= productData?.sku %>"
                            />
                        </div>

                        <div class="form-sub-container input-wrapper">
                            <label for="price">Precio: </label>
                            <input
                                class=""
                                id="price"
                                name="price"
                                type="text"
                                value="<%= productData?.price %>"
                            />
                        </div>

                        <div class="form-sub-container input-wrapper">
                            <label for="stock">Stock: </label>
                            <input
                                class=""
                                id="stock"
                                name="stock"
                                type="text"
                                value="<%= productData?.stock %>"
                            />
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <div class="form-container-selects">
                        <div class="form-sub-container input-wrapper">
                            <label for="descuento">Descuento: </label>
                            <input
                                class=""
                                id="descuento"
                                name="descuento"
                                type="text"
                                value="<%= productData?.descuento %>"
                            />
                        </div>
                        <div class="form-sub-container">
                            <label for="cuotas"
                                >Cuotas:</label>
                                <select
                                    class="cuota-select"
                                    name="cuotas"
                                    id="cuotas"
                                >
                                <option value="<%= productData?.cuotas %>" selected>
                                    <%= productData?.cuotas %> Cuotas sin interés
                                </option>
                                <option value="1">1 Cuota sin interés</option>
                                <option value="2">2 Cuotas sin interés</option>
                                <option value="3">3 Cuotas sin interés</option>
                                <option value="6">6 Cuotas sin interés</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-sub-container">
                        <label for="imagenes">Imágenes:</label>
                        <input
                            class=""
                            id="imagenes"
                            name="imagenes"
                            type="file"
                            value="<%= productData?.imagenes %>"
                        />
                    </div>
                </fieldset>

                <!-- !ACA APARECEN LAS IMAGENES DE LOS ARCHIVOS -->

                <div class="form-sub-container" id="gallery-container">
                    <div class="card-gallery">T0D0</div>
                </div>

                <div class="form-sub-container">
                    <button
                        class="btn-primary"
                        id="modificar"
                        name="modificar"
                        type="submit"
                    >
                        Modificar Producto
                    </button>
                </div>
            </form>
        </main>



         <!-- Fin Main -->

        <%- include('../partials/fAdm') %>
        <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    </body>
</html>
