<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Edit | Funkoshop</title>
        <link href="/assets/css/style.css" rel="stylesheet" />
        <link href="/assets/css/style-edit.css" rel="stylesheet" />
        <link rel="shorcut icon" href="/assets/img/branding/isotype.svg" type="image/x-icon" />
    </head>
    <body>
        <%- include('../partials/hAdm') %>
        <!-- Inicio Main -->
        <main>
            <div class="title-edit">EDITAR ITEM</div>
            <form class="form-container" action="">
                <fieldset>
                    <div class="form-sub-container">
                        <label class="label-select" for="categoria"
                            >Categoría
                        </label>
                        <select class="categoria-select" name="categoria" id="categoria">
                            <option>Seleccionar</option>
                            <option value="figuras">Figuras</option>
                            <option value="llaveros">Llaveros</option>
                            <option value="remeras">Remeras</option>
                        </select>
                        <label for="collection">Licencia</label>
                        <select class="licencia-select" name="collection" id="collection">
                            <option><%= collection %></option>
                            <option value="star-wars" <% if (collection === 'star-wars') { %>selected<% } %>>STAR WARS</option>
                            <option value="pokemon" <% if (collection === 'pokemon') { %>selected<% } %>>POKEMON</option>
                            <option value="harry-potter" <% if (collection === 'harry-potter') { %>selected<% } %>>HARRY POTTER</option>
                        </select>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-sub-container input-wrapper">
                        <label for="name">Nombre del producto:</label>
                        <input
                            type="text"
                            id="name"
                            name="name"
                            value="<%= name %>"
                        />
                    </div>
                    <div class="form-sub-container">
                        <textarea
                            class="product_description"
                            name="description"
                            id="description"
                            cols="30"
                            rows="10"
                        ></textarea>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-container-selects">
                        <div class="form-sub-container input-wrapper">
                            <label for="code">SKU:</label>
                            <input
                                class="code"
                                id="code"
                                name="code"
                                type="text"
                                value="<%= product.code %>"
                            />
                        </div>
                        <div class="form-sub-container input-wrapper">
                            <label for="price">Precio: </label>
                            <input
                                class=""
                                id="price"
                                name="price"
                                type="text"
                                value="price"
                            />
                        </div>
                        <div class="form-sub-container input-wrapper">
                            <label for="stock">Stock: </label>
                            <input
                                class=""
                                id="stock"
                                name="stock"
                                type="text"
                                value="stock"
                            />
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-container-selects">
                        <div class="form-sub-container input-wrapper">
                            <label for="discount">Descuento: </label>
                            <input
                                class=""
                                id="discount"
                                name="discount"
                                type="text"
                                value="discount"
                            />
                        </div>
                        <div class="form-sub-container">
                            <label for="cuotas"
                                >Cuotas:</label>
                                <select
                                    class="cuota-select"
                                    name="cuotas"
                                    id="cuotas"
                                >
                                <option value="cuotas" selected>Cuotas sin interés</option>
                                <option value="1">1 Cuota sin interés</option>
                                <option value="2">2 Cuotas sin interés</option>
                                <option value="3">3 Cuotas sin interés</option>
                                <option value="6">6 Cuotas sin interés</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-sub-container">
                        <label for="imgFront">Imágenes:</label>
                        <input
                            class=""
                            id="imgFront"
                            name="imgFront"
                            type="file"
                            value="imgFront"
                        />
                    </div>
                    <div class="form-sub-container">
                        <label for="imgBack">Imágenes:</label>
                        <input
                            class=""
                            id="imgBack"
                            name="imgBack"
                            type="file"
                            value="imgBack"
                        />
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-sub-container" id="gallery-container">
                        <div class="card-gallery">T0D0</div>
                    </div>
                    <div class="form-sub-container" id="gallery-container">
                        <div class="card-gallery">T0D0</div>
                    </div>
                </fieldset> 
                <div class="form-sub-container">
                    <button
                        class="btn-primary"
                        id="modificar"
                        name="modificar"
                        type="submit"
                    >
                        Modificar Producto
                    </button>
                </div>
            </form>
        </main>
        <!-- Fin Main -->
        <%- include('../partials/fAdm') %>
        <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
        <script src="/assets/js/editAdmin.js"></script>
    </body>
</html>
